ul { list-style: none; }

* { font-family: monospace; }

body { margin: 0; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

ul { padding: 0; }

h1 { font-size: 2rem; }

h2 { font-size: 1.75rem; }

h3 { font-size: 1.5rem; }

hr { background-color: #7957d5; border: none; display: block; height: 2px; margin: 1rem 0; }

.link { color: #7957d5; text-decoration: none; cursor: pointer; }

.link:hover { color: #363636; text-decoration: none; }

html { font-size: 16px; }

@media only screen and (min-width: 640px) { html { font-size: 24px; } }

.page.page--index .page-content { display: flex; flex-direction: column; min-height: 100vh; overflow: hidden; }

.page.page--index .page-content .top { background-color: #7957d5; padding: 1.5rem; display: flex; justify-content: center; align-items: center; flex: 1; }

.page.page--index .page-content .top .top-content { max-width: 100%; width: fit-content; height: fit-content; padding: 1rem; border-radius: 0.5rem; display: flex; flex-direction: column; align-items: center; }

.page.page--index .page-content .top .top-content .photo-container { position: relative; z-index: 1; width: 12rem; height: 12rem; border-radius: 50%; cursor: url("../assets/rock.png"), auto; padding: 3px; border: 5px solid #fff; transition: 150ms border-color ease-in-out; }

.page.page--index .page-content .top .top-content .photo-container:hover { border: 5px solid #ffdd57; }

.page.page--index .page-content .top .top-content .photo-container:hover .photo-container__surprise-link.photo-container__surprise-link--bottom-left { transform: rotateZ(0) scale(1.5); }

.page.page--index .page-content .top .top-content .photo-container:hover .photo-container__surprise-link.photo-container__surprise-link--top-right { transform: rotateZ(0deg) scale(1.5); }

.page.page--index .page-content .top .top-content .photo-container .photo-container__surprise-link { position: absolute; top: 0; width: 12rem; height: 12rem; display: flex; z-index: -1; }

.page.page--index .page-content .top .top-content .photo-container .photo-container__surprise-link.photo-container__surprise-link--bottom-left { transition: 250ms transform ease-in-out; left: -50%; transform: rotateZ(-90deg) scale(1.5); align-items: flex-end; justify-content: center; }

.page.page--index .page-content .top .top-content .photo-container .photo-container__surprise-link.photo-container__surprise-link--top-right { transition: 250ms transform ease-in-out; left: 50%; transform: rotateZ(-90deg) scale(1.5); align-items: flex-start; justify-content: center; }

.page.page--index .page-content .top .top-content .photo-container .photo-container__surprise-link > a { background: #ffdd57; padding: 0.25rem; }

.page.page--index .page-content .top .top-content .photo-container .photo { width: 100%; height: 100%; border-radius: 50%; overflow: hidden; }

.page.page--index .page-content .top .top-content .fullname { text-align: center; color: #fff; margin: 5rem 0 0.5rem 0; cursor: url("../assets/rock.png"), auto; }

.page.page--index .page-content .top .top-content .role-list { margin: 0; text-align: center; }

.page.page--index .page-content .top .top-content .role-list .role-item { color: #fff; font-size: 1rem; }

.page.page--index .page-content .top .top-content .role-list .role-item a { color: #ffdd57; font-size: inherit; }

.page.page--index .page-content .top .top-content .link-list { display: flex; justify-content: center; flex-wrap: wrap; margin-top: 0.5rem; margin-bottom: 0; }

.page.page--index .page-content .top .top-content .link-list .link-item { width: 2rem; height: 2rem; margin: 0.25rem; }

.page.page--index .page-content .top .top-content .link-list .link-item.link-item--rotatable { transition: 0.25s transform ease-in-out; }

.page.page--index .page-content .top .top-content .link-list .link-item.link-item--rotatable:hover { transform: rotateZ(-20deg) scale(1.1); }

.page.page--index .page-content .top .top-content .link-list .link-item a { width: 100%; height: 100%; }

.page.page--index .page-content .top .top-content .link-list .link-item a svg { width: 100%; height: 100%; fill: #fff; }

.page.page--index .page-content .top .top-content .link-list .link-item:hover a svg { fill: #ffdd57; }

.page.page--index .page-content .page-list-wrapper { display: flex; justify-content: center; background-color: #ffdd57; }

.page.page--index .page-content .page-list-wrapper .page-list { display: flex; flex-direction: column; margin: 0; }

.page.page--index .page-content .page-list-wrapper .page-list .page-item { margin: 0.5rem; text-align: center; margin: 1rem; }

.page.page--index .page-content .page-list-wrapper .page-list .page-item a:hover { color: #ffdd57; }

@media only screen and (min-width: 640px) { .page.page--index .page-content .top .top-content .role-list .role-item { white-space: nowrap; } .page.page--index .page-content .page-list-wrapper .page-list { flex-direction: row; } }

/*# sourceMappingURL=index.css.map */