@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
ul { list-style: none; }

* { font-family: monospace; }

body { margin: 0; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

ul { padding: 0; }

h1 { font-size: 2rem; }

h2 { font-size: 1.75rem; }

h3 { font-size: 1.5rem; }

hr { background-color: #6f4bd2; border: none; display: block; height: 2px; margin: 1rem 0; }

.link { color: #6f4bd2; text-decoration: none; cursor: pointer; }

.link:hover { color: #363636; text-decoration: none; }

.nice-table .nice-table__row { display: flex; flex-direction: row; flex-wrap: wrap; }

.nice-table .nice-table__row .nice-table__cell { text-align: center; color: #000; margin: 0; background-color: #ffdd57; padding: 1rem; outline: 2px solid #000; outline-offset: -1px; flex: 1; display: flex; }

.nice-table .nice-table__row .nice-table__cell.nice-table__cell--width-by-content { flex: 0; }

.nice-table .nice-table__row .nice-table__cell.nice-table__cell--centered { justify-content: center; align-items: center; }

html { font-size: 16px; }

.page.page--projects { display: flex; justify-content: center; background: #6f4bd2; }

.page.page--projects .page-content { padding: 5rem 1.5rem; max-width: 1080px; min-height: 100vh; }

.page.page--projects .page-content .home-link { color: #000; font-family: "Open Sans", sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.5rem; text-decoration: none; }

.page.page--projects .page-content .group-title { color: #000; font-family: "Roboto", sans-serif; font-size: 2rem; font-weight: 600; line-height: 2.5rem; letter-spacing: 1px; }

.page.page--projects .page-content .project-item { flex-direction: column; justify-content: space-between; flex: 100%; padding: 0; display: flex; justify-content: flex-start; }

.page.page--projects .page-content .project-item:hover .project-item__image-container .project-item__image { opacity: 1; }

.page.page--projects .page-content .project-item.project-item--side .project-item__image-container { padding: 0; }

.page.page--projects .page-content .project-item.project-item--side .project-item__image-container .project-item__image { width: 10rem; }

.page.page--projects .page-content .project-item.project-item--ecotrash .project-item__image-container .project-item__image, .page.page--projects .page-content .project-item.project-item--trailer .project-item__image-container .project-item__image, .page.page--projects .page-content .project-item.project-item--family-calendar .project-item__image-container .project-item__image, .page.page--projects .page-content .project-item.project-item--totalizator .project-item__image-container .project-item__image { width: 9rem; margin: .5rem; border-radius: 1rem; }

.page.page--projects .page-content .project-item .project-item__image-container { padding: 1rem; border-right: 1px dashed black; display: flex; align-items: center; }

.page.page--projects .page-content .project-item .project-item__image-container .project-item__image { width: 8rem; height: auto; object-fit: contain; opacity: .125; transition: 100ms opacity ease-in-out; }

.page.page--projects .page-content .project-item .project-item__information-container { padding: 1rem; display: flex; flex-direction: column; justify-content: center; }

.page.page--projects .page-content .project-item .project-item__information-container .project-item__title { color: #000; font-family: "Roboto", sans-serif; font-size: 1.25rem; font-weight: 600; line-height: 1.75rem; letter-spacing: 1px; text-align: left; margin: 0; }

.page.page--projects .page-content .project-item .project-item__information-container .project-item__period { font-family: "Open Sans", sans-serif; font-size: 0.875rem; font-weight: 400; line-height: 1.25rem; color: rgba(0, 0, 0, 0.75); text-align: left; margin: 0; }

.page.page--projects .page-content .project-item .project-item__information-container .project-item__description { color: #000; font-family: "Open Sans", sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.5rem; text-align: left; margin: 1rem 0; padding: 0; }

.page.page--projects .page-content .project-item .project-item__information-container .project-item__links { font-family: "Open Sans", sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.5rem; color: #000; text-align: left; margin: 0; }

.page.page--projects .page-content .project-item .project-item__information-container .project-item__links .project-item__link { color: #6f4bd2; font-family: "Open Sans", sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.5rem; }

.page.page--projects .page-content .project-item .project-item__information-container .project-item__technologies { font-family: "Open Sans", sans-serif; font-size: 0.875rem; font-weight: 400; line-height: 1.25rem; color: rgba(0, 0, 0, 0.75); text-align: left; margin: 0 0 1rem; }

.page.page--projects .page-content .project-item .project-item__information-container .project-item__technologies:last-child { margin: 0; }

@media only screen and (min-width: 640px) { .page.page--projects .page-content .project-item { flex-direction: row; } }

/*# sourceMappingURL=projects.css.map */