ul { list-style: none; }

* { font-family: monospace; }

body { margin: 0; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

ul { padding: 0; }

h1 { font-size: 2rem; }

h2 { font-size: 1.75rem; }

h3 { font-size: 1.5rem; }

hr { background-color: #6f4bd2; border: none; display: block; height: 2px; margin: 1rem 0; }

.link { color: #6f4bd2; text-decoration: none; cursor: pointer; }

.link:hover { color: #363636; text-decoration: none; }

.nice-table .nice-table__row { display: flex; flex-direction: row; flex-wrap: wrap; }

.nice-table .nice-table__row .nice-table__cell { text-align: center; color: #000; margin: 0; background-color: #ffdd57; padding: 1rem; outline: 2px solid #000; outline-offset: -1px; flex: 1; display: flex; }

.nice-table .nice-table__row .nice-table__cell.nice-table__cell--width-by-content { flex: 0; }

.nice-table .nice-table__row .nice-table__cell.nice-table__cell--centered { justify-content: center; align-items: center; }

.page.page--projects { display: flex; justify-content: center; background: #6f4bd2; }

.page.page--projects .page-content { padding: 5rem 1.5rem; max-width: 1080px; min-height: 100vh; }

.page.page--projects .page-content .home-link { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; font-weight: 600; line-height: 1.5rem; text-decoration: none; }

.page.page--projects .page-content .project-item { flex-direction: column; justify-content: space-between; min-width: 18rem; }

.page.page--projects .page-content .project-item .project-item__face .project-item__image { width: 8rem; height: 8rem; object-fit: contain; }

.page.page--projects .page-content .project-item .project-item__face .project-item__title { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 1.25rem; font-weight: 600; line-height: 1.5rem; text-align: left; margin: 1rem 0; }

.page.page--projects .page-content .project-item .project-item__face .project-item__description { color: #000; font-family: Arial, Helvetica, sans-serif; font-size: 1.125rem; font-weight: 400; line-height: 1.25rem; text-align: left; margin: 0; padding: 0; }

.page.page--projects .page-content .project-item .project-item__back { margin-top: 3rem; padding: 0; }

.page.page--projects .page-content .project-item .project-item__back .project-item__labels { display: flex; flex-direction: row; align-items: center; justify-content: center; flex-wrap: wrap; }

.page.page--projects .page-content .project-item .project-item__back .project-item__labels .project-item__date, .page.page--projects .page-content .project-item .project-item__back .project-item__labels .project-item__label, .page.page--projects .page-content .project-item .project-item__back .project-item__labels .project-item__link { width: fit-content; display: inline-block; transition: 50ms background-color ease-in-out; font-family: Arial, Helvetica, sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.125rem; padding: .25rem; margin: .125rem; white-space: nowrap; }

.page.page--projects .page-content .project-item .project-item__back .project-item__labels .project-item__label { border-radius: 0.25rem; color: #6f4bd2; background: #fff; }

.page.page--projects .page-content .project-item .project-item__back .project-item__labels .project-item__link { background: #6f4bd2; color: #fff; border-radius: 0.25rem; text-decoration: none; }

.page.page--projects .page-content .project-item .project-item__back .project-item__labels .project-item__link:hover { color: #ffdd57; }

@media only screen and (min-width: 640px) { .page.page--projects .page-content .project-item { min-width: 25rem; } .page.page--projects .page-content .project-item .project-item__face { text-align: left; } }

/*# sourceMappingURL=projects.css.map */