---
---

@import 'utils.scss';
@import 'colors.scss';
@import 'typography.scss';
@import 'nice-table.scss';

html {
  font-size: 16px;
}

.page {
  &.page--articles {
    display: flex;
    justify-content: center;
    background: $color-purple;

    .page-content {
      padding: 5rem 1.5rem;
      max-width: $page-content-width;
      min-height: 100vh;

      .home-link {
        color: $color-black;
        @include paragraph-normal;
        text-decoration: none;
      }

      .title {
        color: $color-black;
        @include heading-lg;
      }

      .article-item {
        color: $color-black;
        @include paragraph-normal;
        margin: 0;
        text-align: left;

        .article-item__link {
          color: $color-purple;
        }
      }
    }
  }
}
