---
---

@import 'utils.scss';
@import 'colors.scss';

.page {
  &.page--articles {
    display: flex;
    justify-content: center;
    background: $color-lighter-grey;

    .page-content {
      padding: 3rem 1.5rem;
      width: $page-content-width;

      .articles {
        .articles__item {
          .articles__item-date,
          .articles__item-link {
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.75rem;
          }

          .articles__item-date {
            
          }

          .articles__item-link {
            font-weight: 500;
          }
        }
      }
    }
  }
}
