---
---

@import 'utils.scss';
@import 'colors.scss';

html {
  font-size: 16px;

  @media only screen and (min-width: $mobile-breakpoint) {
    font-size: 24px;
  }
}

.page {
  &.page--index {
    .page-content {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      overflow: hidden;

      .top {
        background-color: $color-purple;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        .top-content {
          max-width: 100%;
          width: fit-content;
          height: fit-content;
          padding: 0;
          border-radius: 0.5rem;
    
          .fullname {
            text-align: center;
            color: $color-black;
            margin: 0;
            background-color: $color-yellow;
            padding: 1rem;
            outline: 2px solid $color-black;
            outline-offset: -1px;
          }
    
          .role-list {
            margin: 0;
            text-align: center;
            background-color: $color-yellow;
            padding: 1rem;
            outline: 2px solid $color-black;
            outline-offset: -1px;
  
            .role-item {
              color: $color-black;
              font-size: 1rem;
    
              a {
                color: $color-purple;
                font-size: inherit;
              }
            }
          }

          .page-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0;
    
            .page-item {
              margin: 0;
              text-align: center;
              background-color: $color-yellow;
              height: fit-content;
              outline: 2px solid $color-black;
              outline-offset: -1px;
              flex: 1;
    
              a {
                color: $color-black;
                display: block;
                width: calc(100% - 2rem);
                height: auto;
                padding: 1rem;
    
                &:hover {
                  text-decoration: none;
                }
    
                span {
                  font-weight: bold;
                }
    
                svg {
                  width: .875rem;
                  height: .875rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
