---
---

@import 'utils.scss';
@import 'colors.scss';

html {
  font-size: 16px;

  @media only screen and (min-width: $mobile-breakpoint) {
    font-size: 24px;
  }
}

.page {
  &.page--index {
    .page-content {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      overflow: hidden;

      .top {
        background-color: $color-purple;
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        .top-content {
          max-width: 100%;
          width: fit-content;
          height: fit-content;
          padding: 1rem;
          border-radius: 0.5rem;
  
          display: flex;
          flex-direction: column;
          align-items: center;

          .photo-container {
            position: relative;
            z-index: 1;

            $size: 12rem;
            width: $size;
            height: $size;

            border-radius: 50%;

            cursor: pointer;

            padding: 3px;
            border: 5px solid $color-white;
            transition: 150ms border-color ease-in-out;

            &:hover {
              border: 5px solid $color-yellow;

              .photo-container__surprise-link {
                &.photo-container__surprise-link--bottom-left {
                  transform: rotateZ(0) scale(1.5);
                }

                &.photo-container__surprise-link--top-right {
                  transform: rotateZ(0deg) scale(1.5);
                }
              }
            }

            .photo-container__surprise-link {
              position: absolute;
              top: 0;
              width: $size;
              height: $size;
              display: flex;
              z-index: -1;

              &.photo-container__surprise-link--bottom-left {
                transition: 250ms transform ease-in-out;
                left: -50%;
                transform: rotateZ(-90deg) scale(1.5);
                align-items: flex-end;
                justify-content: center;
              }

              &.photo-container__surprise-link--top-right {
                transition: 250ms transform ease-in-out;
                left: 50%;
                transform: rotateZ(-90deg) scale(1.5);
                align-items: flex-start;
                justify-content: center;
              }

              > a {
                background: $color-yellow;
                padding: 0.25rem;
                color: $color-purple;
              }
            }
        
            .photo {
              width: 100%;
              height: 100%;
              @include rounded;
            }
          }
    
          .fullname {
            text-align: center;
            color: $color-white;
            margin: 3rem 0 0.5rem 0;
            cursor: pointer;
          }
    
          .role-list {
            margin: 0;
            text-align: center;
  
            .role-item {
              color: $color-white;
              font-size: 1rem;
    
              a {
                color: $color-yellow;
                font-size: inherit;
              }
            }
          }
    
          .link-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 0.5rem;
            margin-bottom: 0;
  
            .link-item {
              width: 2rem;
              height: 2rem;
              margin: 0.25rem;

              &.link-item--rotatable {
                transition: 0.25s transform ease-in-out;
  
                &:hover {
                  transform: rotateZ(-20deg) scale(1.1);
                }
              }
    
              a {
                width: 100%;
                height: 100%;
    
                svg {
                  width: 100%;
                  height: 100%;
                  fill: $color-white;
                }
              }
    
              &:hover {
                a {
                  svg {
                    fill: $color-yellow;
                  }
                }
              }
            }
          }
        }
      }

      .page-list-wrapper {
        display: flex;
        justify-content: center;
        background-color: $color-yellow;

        .page-list {
          display: flex;
          flex-direction: column;
          margin: 0;

          .page-item {
            margin: 0.5rem;
            text-align: center;
            margin: 1rem;

            a {
              &:hover {
                color: $color-yellow;
              }
            }
          }
        }
      }

      @media only screen and (min-width: $mobile-breakpoint) {
        .top {
          .top-content {
            .role-list {
              .role-item {
                white-space: nowrap;
              }
            }
          }
        }

        .page-list-wrapper {
          .page-list {
            flex-direction: row;
          }
        }
      }
    }
  }
}
