---
---

@import 'utils.scss';
@import 'colors.scss';
@import 'typography.scss';
@import 'nice-table.scss';

html {
  font-size: 16px;
}

.page {
  &.page--projects {
    display: flex;
    justify-content: center;
    background: $color-purple;

    .page-content {
      padding: 5rem 1.5rem;
      max-width: $page-content-width;
      min-height: 100vh;

      .home-link {
        color: $color-black;
        @include paragraph-normal;
        text-decoration: none;
      }

      .group-title {
        color: $color-black;
        @include heading-lg;
      }

      .project-item {
        flex-direction: column;
        justify-content: space-between;
        flex: 100%;
        padding: 0;
        display: flex;
        justify-content: flex-start;

        &:hover {
          .project-item__image-container {
            .project-item__image {
              opacity: 1;
            }
          }
        }

        &.project-item--side {
          .project-item__image-container {
            padding: 0;

            .project-item__image {
              width: 10rem;
            }
          }
        }

        &.project-item--ecotrash,                                
        &.project-item--trailer,                                  
        &.project-item--family-calendar,                            
        &.project-item--totalizator {
          .project-item__image-container {
            .project-item__image {
              width: 9rem;        
              margin: .5rem;                                     
              border-radius: 1rem;                            
            }
          }                  
        }

        .project-item__image-container {
          padding: 1rem;
          border-right: 1px dashed black;
          display: flex;
          align-items: center;

          .project-item__image {
            width: 8rem;
            height: auto;
            object-fit: contain;

            opacity: .125;
            transition: 100ms opacity ease-in-out;
          }
        }

        .project-item__information-container {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .project-item__title {
            color: $color-black;
            @include heading-sm;
            text-align: left;
            margin: 0;
          }

          .project-item__period {
            @include paragraph-small;
            color: rgba($color-black, .75);
            text-align: left;
            margin: 0;
          }

          .project-item__description {
            color: $color-black;
            @include paragraph-normal;
            text-align: left;
            margin: 1rem 0;
            padding: 0;
          }

          .project-item__links {
            @include paragraph-normal;
            color: $color-black;
            text-align: left;
            margin: 0;

            .project-item__link {
              color: $color-purple;
              @include paragraph-normal;
            }
          }

          .project-item__technologies {
            @include paragraph-small;
            color: rgba($color-black, .75);
            text-align: left;
            margin: 0 0 1rem;

            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .page.page--projects {
    .page-content {
      .project-item {
        flex-direction: row;
      }
    }
  }
}
