---
---

@import 'utils.scss';
@import 'colors.scss';
@import 'typography.scss';
@import 'nice-table.scss';

.page {
  &.page--projects {
    display: flex;
    justify-content: center;
    background: $color-purple;

    .page-content {
      padding: 5rem 1.5rem;
      max-width: $page-content-width;
      min-height: 100vh;

      .home-link {
        color: $color-black;
        @include heading-sm;
        text-decoration: none;
      }

      .project-item {
        flex-direction: column;
        justify-content: space-between;
        min-width: 18rem;

        .project-item__face {
          .project-item__image {
            width: 8rem;
            height: 8rem;
            object-fit: contain;
          }

          .project-item__title {
            color: $color-black;
            @include heading-sm;
            text-align: left;
            margin: 1rem 0;
          }

          .project-item__description {
            color: $color-black;
            @include paragraph-normal;
            text-align: left;
            margin: 0;
            padding: 0;
          }
        }

        .project-item__back {
          margin-top: 3rem;
          padding: 0;

          .project-item__labels {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            .project-item__date,
            .project-item__label,
            .project-item__link {
              width: fit-content;
              display: inline-block;
              transition: 50ms background-color ease-in-out;
              @include paragraph-small;

              padding: .25rem;
              margin: .125rem;

              white-space: nowrap;
            }

            .project-item__label {
              border-radius: 0.25rem;
              color: $color-purple;
              background: $color-white;
            }

            .project-item__link {
              background: $color-purple;
              color: $color-white;
              border-radius: 0.25rem;
              text-decoration: none;
  
              &:hover {
                color: $color-yellow;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .page.page--projects {
    .page-content {
      .project-item {
        min-width: 25rem;
  
        .project-item__face {
          text-align: left;
        }
      }
    }
  }
}
