---
---

@import 'utils.scss';
@import 'colors.scss';

.page {
  &.page--projects {
    display: flex;
    justify-content: center;
    background: $color-lighter-grey;

    .page-content {
      padding: 3rem 1.5rem;
      max-width: 1344px;

      .projects-section {
        .projects-container {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-column-gap: 1rem;
          grid-row-gap: 1rem;

          @media only screen and (min-width: 320px) {
            grid-template-columns: repeat(2, 1fr);
          }

          @media only screen and (min-width: 640px) {
            grid-template-columns: repeat(3, 1fr);
          }

          @media only screen and (min-width: 1280px) {
            grid-template-columns: repeat(4, 1fr);
          }

          .project-item {
            display: inline-block;
            width: 100%;
            border: 1px solid $color-light-grey;
            border-radius: 0.5rem;
            background: $color-white;
            overflow: hidden;
            padding-bottom: 0.25rem;

            .project-item__image-container {
              height: 20rem;
              border: none;

              .project-item__image {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }

            .project-item__title {
              font-size: 1.125rem;
              color: $color-almost-black;
              margin: 0.5rem;
            }

            .project-item__description {
              font-size: 0.875rem;
              color: $color-darker-grey;
              margin-bottom: .5rem;
              padding: 0 .5rem;
            }

            .project-item__labels {
              padding: 0.5rem;

              .project-item__label {
                border-radius: 0.25rem;
                color: $color-purple;
                background: $color-lighter-grey;
                width: fit-content;
                display: inline-block;
                transition: 50ms background-color ease-in-out;
                cursor: pointer;
                font-size: 0.875rem;
                line-height: 1rem;
                padding: 0.25rem;
                margin: 0.125rem;
              }
            }
          }
        }
      }
    }
  }
}
