---
fullname: 'Maksim Barouski'
roles:
  - name: 'SWE'
    place: 'Google'
    url: 'https://google.com'
  - name: 'BCompSc'
    place: 'BSUIR'
    url: 'https://bsuir.by'
pages:
  - url: 'projects.html'
    name: 'Projects'
  - url: 'https://www.linkedin.com/in/maksim-barouski/'
    icon: 'linkedin'
    target: '_blank'
  - url: 'https://github.com/mbarouski'
    icon: 'github'
    target: '_blank'
  - url: 'mailto:maksim.barouski@gmail.com'
    icon: 'mail'
    target: '_blank'
  - url: 'https://t.me/mbarouski'
    icon: 'telegram'
    target: '_blank'
  - url: 'https://www.instagram.com/maximka_anatolevich'
    icon: 'instagram'
    target: '_blank'
  - url: 'https://www.instagram.com/photodos/'
    name: 'Photography'
    target: '_blank'
  - url: 'https://twitter.com/MBorovskij'
    icon: 'twitter'
    target: '_blank'
  - url: 'articles.html'
    name: 'Writing'
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.fullname }}</title>
    <link rel="stylesheet" href="styles/index.css">
  </head>
  <body>
    <div class="page page--index">
      <div class="page-content">
        <div class="top">
          <div class="top-content">
            <h1 class="fullname">{{ page.fullname }}</h1>

            <ul class="role-list">
              {% for role in page.roles %}
                <li class="role-item">{{ role.name }}&nbsp;@&nbsp;<a href="{{ role.url }}">{{ role.place }}</a></li>
              {% endfor %}
            </ul>

            <ul class="page-list">
              {% for p in page.pages %}
                <li class="page-item">
                  <a href="{{ p.url }}" {% if p.target %}target="{{p.target}}"{%endif%}>
                    {% if p.name %}
                      <span>{{ p.name }}</span>
                    {% else %}
                      <svg>
                        <use xlink:href="assets/icons.svg#{{p.icon}}" />
                      </svg>
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
