---
fullname: 'Maksim A. Barouski'
roles:
  - name: 'Software Engineer'
    place: 'DffrntLab'
    url: 'https://dffrntlab.co'
  - name: 'Bachelor of Computer Science'
    place: 'BSUIR'
    url: 'https://bsuir.by'
links:
  - url: 'https://www.linkedin.com/in/maksim-barouski/'
    icon: 'linkedin'
    rotatable: true
  - url: 'https://github.com/maximka777'
    icon: 'github'
  - url: 'mailto:maksim.borovskij@yandex.ru'
    icon: 'mail'
  - url: 'https://t.me/mbarouski'
    icon: 'telegram'
  - url: 'https://www.instagram.com/maximka_anatolevich'
    icon: 'instagram'
  - url: 'https://twitter.com/MBorovskij'
    icon: 'twitter'

pages:
  - url: 'projects.html'
    name: 'Projects'
  - url: 'articles.html'
    name: 'Writing'
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.fullname }}</title>
    <link rel="stylesheet" href="styles/index.css">
  </head>
  <body>
    <div class="page page--index">
      <div class="page-content">
        <div class="top">
          <div class="top-content">
            <div class="photo-container">
              <div class="photo-container__surprise-link photo-container__surprise-link--bottom-left"><a href="projects.html">Projects</a></div>
              <div class="photo-container__surprise-link photo-container__surprise-link--top-right"><a href="articles.html">Articles</a></div>
              <img class="photo" src="assets/images/me.jpg">
            </div>
            <h1 class="fullname">{{ page.fullname }}</h1>

            <ul class="role-list">
              {% for role in page.roles %}
                <li class="role-item">{{ role.name }} [<a href="{{ role.url }}">{{ role.place }}</a>]</li>
              {% endfor %}
            </ul>

            <ul class="link-list">
              {% for link in page.links %}
                {% if link.rotatable %}
                  <li class="link-item link-item--rotatable">
                {% else %}
                  <li class="link-item">
                {% endif %}
                <a href="{{ link.url }}">
                  <svg>
                    <use xlink:href="assets/icons.svg#{{link.icon}}" />
                  </svg>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- <div class="page-list-wrapper">
          <ul class="page-list">
            {% for p in page.pages %}
              <li class="page-item">
                <a href="{{ p.url }}">{{ p.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div> -->
      </div>
    </div>
  </body>
</html>

