---
title: 'Projects'
fullname: 'Maksim Barouski'
groups:
  - id: 'main'
    name: 'Work projects'
  - id: 'opensource'
    name: 'Open source work'
  - id: 'side'
    name: 'Side projects'
projects:
  - name: 'Montro'
    description: 'We find your perfect watch'
    url: 'https://montro.com'
    group: 'main'
    images:
      - 'assets/images/montro.svg'
    labels:
      - 'Java/Kotlin + Spring'
      - 'Vue'
      - 'Go'
      - 'DevOps'
      - 'Postgres'
      - 'Cassandra'
      - 'Elastic'
    period: '2019-now'
  - name: 'HearHear'
    description: 'Ask anybody, anything. Together, we will get an answer.'
    url: 'https://hearhear.app'
    group: 'main'
    images:
      - 'assets/images/hh.svg'
    labels:
      - 'Java + Spring'
      - 'Nuxt.js'
      - 'DevOps'
      - 'Cassandra'
    period: '2019-now'
  - name: 'Consul LB GCE'
    description: 'Configure GCE load balancer based on Consul data about registered services automatically.'
    url: 'https://github.com/dffrntmedia/consul-lb-gce'
    group: 'opensource'
    images:
      - 'assets/images/consul-lb-gce.jpg'
    labels:
      - 'Google Cloud Engine'
      - 'Consul'
      - 'Go'
    period: '2019-now'
  - name: 'EarthToday'
    description: 'EarthToday is a community-driven content platform to inform, inspire, educate and entertain.'
    url: 'https://earthtoday.com'
    group: 'main'
    images:
      - 'assets/images/et.png'
    labels:
      - 'Java + Spring'
      - 'Angular'
      - 'DevOps'
      - 'Neo4j'
      - 'Cassandra'
    period: '2018-2020'
  - name: 'Visual Server'
    description: 'A Revolutionary Website Builder For Creatives. Designed Especially for Photographers and Artists.'
    url: 'https://app.visualserver.com/'
    group: 'main'
    images:
      - 'assets/images/vs.png'
    labels:
      - 'Node.js'
      - 'Angular'
      - 'JavaScript'
      - 'MSSQL'
    period: '2017-2018'
  - name: 'Ezispeak Video Interpreter'
    description: 'This app allows you to connect a video interpreter on demand for communication with a doctor.'
    url: 'https://apps.apple.com/us/app/ezispeak-video-interpreter/id1256607378'
    group: 'main'
    images:
      - 'assets/images/ezispeak.png'
    labels:
      - 'Node.js'
      - 'React'
      - 'Swift'
      - 'MongoDB'
    period: '2017'
  - name: 'EcoTrash'
    description: 'Manage your garbage properly.'
    url: ''
    group: 'side'
    images:
      - 'assets/images/ecotrash.jpg'
    labels:
      - 'Unity'
      - 'Go'
      - 'MySQL'
    period: '2019-2020'
  - name: 'Skaz'
    description: 'Website for selling books.'
    url: ''
    group: 'side'
    images:
      - 'assets/images/skaz.png'
    labels:
      - 'Angular'
    period: '2019'
  - name: 'Trailer'
    description: '"Hello, world!" project at welding.'
    url: ''
    group: 'side'
    images:
      - 'assets/images/trailer.jpg'
    labels:
      - 'Designer'
      - 'Welder'
    period: 'summer''19'
  - name: 'Family Calendar'
    description: 'Calendar for the whole family.'
    url: 'https://play.google.com/store/apps/details?id=com.ipmakarchuk.familycalendar&hl=en_US'
    group: 'side'
    images:
      - 'assets/images/family-calendar.jpg'
    labels:
      - 'Node.js'
      - 'Ionic + Angular'
      - 'MongoDB'
    period: '2019'
  - name: 'R-409 virtual tour'
    description: 'Unity based application for learning radio relay station R-409.'
    url: ''
    group: 'side'
    images:
      - 'assets/images/r409.jpg'
    labels:
      - 'Blender'
      - 'Unity'
    period: '2016-2017'
  - name: 'Totalizator'
    description: 'It is a final project for EPAM Java course. It got excellent mark from reviewers. Web application on Java EE for making bets on sport events.'
    url: ''
    group: 'side'
    images:
      - 'assets/images/totalizator.jpg'
    labels:
      - 'Java'
      - 'JSP'
      - 'JDBC'
      - 'MySQL'
    period: '2016'
  - name: 'PhoenixPay'
    description: 'Play Market for everything. It is a startup project I was a part of. We won participation at Tech Minsk Summer''16 at Imaguru and support from Belgazprombank on BankIT''16.'
    url: 'https://www.linkedin.com/pulse/%D0%BA%D0%B5%D0%B9%D1%81-%D0%BC%D0%B5%D0%BD%D1%82%D0%BE%D1%80%D0%B8%D0%BD%D0%B3-%D1%80%D1%83%D0%BA%D0%BE%D0%B2%D0%BE%D0%B4%D0%B8%D1%82%D0%B5%D0%BB%D1%8F-%D0%BF%D1%80%D0%B8-%D1%81%D0%BE%D0%B7%D0%B4%D0%B0%D0%BD%D0%B8%D0%B8-%D1%81%D1%82%D0%B0%D1%80%D1%82%D0%B0%D0%BF%D0%B0-%D0%BA%D0%BE%D0%BC%D0%B0%D0%BD%D0%B4%D1%8B-frolova-1c/'
    group: 'side'
    images:
      - 'assets/images/phoenixpay.jpg'
    labels:
      - 'Software Engineer'
    period: '2016'
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.fullname }} | {{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/projects.css">
  </head>
  <body>
    <div class="page page--projects">
      <div class="page-content">
        <a href="index.html" class="link">main</a>
        {% for group in page.groups %}
          <h1 class="title">{{ group.name }}</h1>
          <hr>
          <div class="projects-section">
            <div class="projects-container">
              {% for project in page.projects %}
                {% if project.group == group.id %}
                    <div class="project-item project-item--{{ project.group }}">
                      <div class="project-item__face">
                        <div class="project-item__images">
                        {% for image in project.images %}
                          <div class="project-item__image-container">
                            <img class="project-item__image" src="{{ image }}">
                          </div>
                        {% endfor %}
                        </div>
                        <h3 class="project-item__title">{{ project.name }}</h3>
                        <p class="project-item__description">{{ project.description }}</p>
                      </div>
                      <div class="project-item__back">
                        <div class="project-item__labels">
                          {% for label in project.labels %}
                            <div class="project-item__label">{{ label }}</div>
                          {% endfor %}
                        </div>
                        {% if project.url != '' %}
                          <a
                            href="{{project.url}}"
                            class="project-item__read-more"
                            target="_blank"
                          >Read more</a>
                        {% endif %}
                        <span class="project-item__date">{{ project.period }}</span>
                      </div>
                    </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
