$color-yellow: #ffdd57;
$color-white: #fff;
$color-purple: hsl(256deg, 60%, 56%);

$color-black: #000;
$color-almost-black: #1a1a1a;
$color-darker-grey: #474747;
$color-dark-grey: #757575;
$color-medium-grey: #b3b3b3;
$color-light-grey: #ccc;
$color-lighter-grey: #f5f5f5;

$color-luxury-black: #363636;
