$color-yellow: #ffdd57;
$color-white: #fff;
$color-purple: #7957d5;

$color-black: #000;
$color-almost-black: #1a1a1a;
$color-darker-grey: #474747;
$color-dark-grey: #757575;
$color-medium-grey: #b3b3b3;
$color-light-grey: #ccc;
$color-lighter-grey: #f5f5f5;

$color-grey-for-text: #4a4a4a;