.desktop-icons {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.desktop-icon {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &.desktop-icon--selected {
        background-color: rgba(135, 206, 250, 0.5);
    }
}

.desktop-icon img {
    max-width: 3.5rem;
    max-height: 3.5rem;
    width: 100%;
    height: 100%;
}

.desktop-icon p {
    margin: 0.5rem 0;
    color: $color-white;
    text-align: center;
}

.desktop-icon input {
    display: none;
}

.desktop-icon.desktop-icon--rename-mode {
    input {
        display: initial;
    }

    p {
        display: none;
    }
}
