$font-primary: Arial, Helvetica, sans-serif;

@mixin heading-sm {
    font-family: $font-primary;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
}

@mixin paragraph-normal {
    font-family: $font-primary;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

@mixin paragraph-small {
    font-family: $font-primary;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.125rem;
}
