@mixin rounded {
  border-radius: 50%;
  overflow: hidden;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

* {
  font-family: monospace;
}

body {
  margin: 0;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}
